@use "theme";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  user-select: none;
}

body {
  padding: 16px;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --app-primary-color: #{theme.$app-primary-color};
  --app-text-color: #{theme.$app-text-color};
  --app-tag-text-color: #{theme.$app-primary-color};
  --app-tag-hover-color: #{theme.$app-primary-color};
  --app-tag-bg-color: #{theme.$app-primary-opacity-20};
  --app-tag-border-color: #{theme.$app-primary-opacity-20};
}

.el-overlay{
  position: absolute;
  .el-overlay-message-box{
  }
}

.el-overlay.is-message-box .el-overlay-message-box{
  position: absolute;
}
