@use "theme";

body * {
  user-select: none;
}

body {
  font-family: OPPOSans, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC-Light, Microsoft YaHei, serif;
  margin: 0;
  overflow: hidden;
}

:root {
  --app-primary-color: #{theme.$app-primary-color};
  --app-text-color: #{theme.$app-text-color};
  --app-tag-text-color: #{theme.$app-primary-color};
  --app-tag-hover-color: #{theme.$app-primary-color};
  --app-tag-bg-color: #{theme.$app-primary-opacity-20};
  --app-tag-border-color: #{theme.$app-primary-opacity-20};
  --el-color-primary: theme.$app-primary-color;
}

.el-overlay{
  position: absolute;
  .el-overlay-message-box{
  }
}

.el-overlay.is-message-box .el-overlay-message-box{
  position: absolute;
}
.el-overlay.is-message-box {
  position: absolute;
}

