$app-primary-color: #6365ff;
$app-background-color: #f5f5ff;
$app-border-color: #dfe0ff;
$app-text-color: darken($app-primary-color, 60%);
$app-icon-color: $app-text-color;
$app-header-color: $app-primary-color;
$app-card-color: white;
